body{
    background-image: url(pic/bg.jpg);
    margin: 0;
    padding: 0;
    background-position: center;
    background-size: cover;
    width: 100%;
}
.aboutme{
    display: flex;
}
.aboutme h1 {
    text-align: center;
    height: 10px;
    width: 100%;
    font-size: 50px;
    padding: 6px;
    font-family: sans-serif;
}
h1{
    color:rgb(240, 85, 7);
}
.container{
    display: block;
}
.container h3{
    font-size: 30px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.container p{
    font-size: 30px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.resume{
    height:50px;
    width: 100%;
    margin-left: 42%;
}
.resume a{
    font-size: 40px;
    padding-left: 20px;
    color: black;
}
.resume a:hover{
    color: blue;
    transition: 1.5s ease-in;
}
.resume1{
    height: 50px;
    width: 100%;
    display: block;
}
.resume1 h3{
    margin-right: 10%;
    margin-left: 32%;
    font-size: 30px;
    color: rgb(68, 61, 61);
}
.resume2{
    height: 50px;
    width: 100%;
    margin-left: 44%
}
.resume2 button{
    font-size: 25px;
    border-radius: 5px;
    border: 10px;
    background-color: rgb(106, 11, 194);
    color: white;
    line-height: 3rem;
}
.resume2 button:hover{
    color: blue;
    background-color: white;
    transition: 1s ease;
}
.last{
    width: 100%;
    margin-left: 44%;
    margin-top: 15%;
}
.last h4{
    font-size: 20px;
    color: rgb(87, 87, 94);
}

